* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: #74ebd5;
    background: -webkit-linear-gradient( to right, #acb6e5, #74ebd5);
    background: linear-gradient(to right, #acb6e5, #74ebd5);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

section {
    display: grid;
    grid-template-columns: repeat(4, 8rem);
    grid-template-rows: repeat(4, 8ream);
    grid-gap: 2rem;
    perspective: 200px;
}

.card {
    position: relative;
    transform-style: preserve-3d;
    transition: all 2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 15px;
}

.face {
    width: 100%;
    height: 100%;
}

.back {
    width: 100%;
    height: 100%;
    background: white;
    backface-visibility: hidden;
    position: absolute;
}

.toggleCard {
    transform: rotateY(180deg);
}


/*
body {
    height: 100vh;
    display: flex;
    background: #060AB2;
}

.memory-game {
    width: 640px;
    height: 640px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.memory-card {
    width: calc(25% - 10px);
    height: calc(33.333% - 10px);
    margin: 5px;
    position: relative;
    transform: scale(1);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .3);
}

.memory-card:active {
    transform: scale(.97);
    transition: transform .2s;
}

.front-face,
.back-face {
    width: 100%;
    height: 100%;
    padding: 20px;
    position: absolute;
    border-radius: 5px;
    background: #1c7ccc;
}
*/